# Ignore Mac system files
.DS_store

# Ignore Visual Studio Code workspaces
*.code-workspace

# Ignore any files carrying secrets
appenv.py
token.*
*backup*
*.dat
*.json
*.crt
*.key
*.pem

# Ignore any downloads folder
*downloads*

# Ignore Python Module Cache
__pycache__/*
